
@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono-Regular.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans-Regular.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px) {
    .project-img {
        max-width: 100%;
    }
    .logo-img {
        max-width: 50px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px 20px;
    text-align: center;
}

body {
    font-family: 'IBMPlexMono';
    background-color: #1E1E1E;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
}

footer {
    margin-top: 3%;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

hr {
    border: none;
    border-top: 2px solid #FFF;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 76%;
    margin-left: 12%;
}

h1 {
    color: #00FFD4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: 6.72px;
    text-transform: uppercase;
}

h2 {
    color: #FFF;
    font-size: 26px;
    text-transform: uppercase;
}

button {
    font-family: 'IBMPlexMono';
}

a{
    text-decoration: none;
    color: inherit;
}

/* Img class*/
.my-img {
    border-radius:50%;
    border: 2px solid #00FFD4;
    width: 505px;
    height: 505px;
}

.section-img{
    width: 2%;
    margin-left: -10%;
    margin-right: 5%;
    height: auto;
}

.about-icon-prof{
    margin-top: 5%;
    margin-right: 5%;
}

.about-icon-est{
    margin-top: 5%;
    margin-right: 5%;
}

.project-img {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin-bottom: 20px;
}

.img-display-area {
    display: flex;
    background: #777;
    border-radius: 32px;
    max-width: 1430px;
    max-height: 800px;
    min-width: 800px;
    min-height: 600px;
    width: 98%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-py-img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.project-bi-img {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin-bottom: 20px;
}

.project-sql-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 20px;
}

.logo-img {
    width: 100%;
    max-width: 75px;
    height: auto;
    margin: 0 10px;
    border: 2px solid #777777;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave */
}

/*Divs class*/
.centered-div {
    margin-top: 5%;
    width: 78%;
    margin-left: 12%;
}

.logo-img:hover {
    transform: scale(1.2);
    border: 2px solid #00FFD4;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.8);
}

.about-section{
    margin-top: 60px;
}

.about-title{
    margin-left: 40%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

.about_me_text{
    margin-left: 40%;
    width: 45%;
    margin-top: -35%;
    font-size: 26px;
}

.about-text{
    margin-left: 49.5%;
    margin-top: -2%;
    width: 45%;
    font-size: 22px;
    font-family: "IBMPlexSans";
}

.project-text{
    margin-top: 5%;
    width: 80%;
    font-size: 22px;
    font-family: "IBMPlexSans";
}

.selector-proyectos{
    text-align: center;
}

.social-links{
    text-align: center;
    margin-top: 5%;
}

.redes-section {
    margin-top: 50px;
    background-color: #2c4e6baa;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    height: auto;
}

.project-section {
    display: none;
}

.nav-links {
    list-style: none;
    justify-content: space-between;
    padding: 0 10%;
    gap: 10px;
    display: flex;
    color: #FFF;
    margin-top: 40px;
    font-size: 19px;
    font-style: normal;
    letter-spacing: 2.09px;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 19px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00FFD4;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.contact-form label {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #00FFD4;
    background-color: #1E1E1E;
    border-radius: 9px;
    color: white;
    font-size: 16px;
    width: 100%;
    outline: none;
    box-shadow: none;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00bfa5;
    background-color: #1E1E1E;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #777777;
    background-color: #1E1E1E;
}

.contact-form button {
    background-color: #00FFCC;
    color: #1E1E1E;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 26px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #00bfa5;
}